---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include zhangxin/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    爱看书的程序员
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="col-md-3"><i class="fa fa-github"></i><span>我的github</span></td>
        <td><a href="https://github.com/zhangxin23">zhangxin· GitHub</a></td>
      </tr>
      <tr>
        <td class="col-md-3"><i class="fa fa-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="mailto:xin_zhang23@126.com">zhangxin· Gmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include zhangxin/comments %}
